<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hello</title>
  <script src="js/jquery-3.1.0.min.js"></script>
  <link rel="stylesheet" href="">
</head>
<body>
  <div class="container">
    <h1>Welcome to Node-a-Light</h1>
    <form action="/on">
      <button class="on" >Turn Lights On</button>
    </form>

    <form action="/off">
      <button class="off">Turn Lights Off</button>
    </form>
  </div>

  <button id="button" href="#">LED ON/OFF</button>

<script src="js/script.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <script>
    $(document).ready(function() {
      var socket = io.connect('http://localhost');
      $('#button').click(function(e){
        socket.emit('click');
        e.preventDefault();
      });
    });
  </script>
</body>
</html>
