<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hello</title>
</head>
<body>
  <div class="container">
    <h1>Welcome to Node-a-Light</h1>
    <form action="/on">
      <button class="on" >Turn Lights On</button>
    </form>

    <form action="/off">
      <button class="off">Turn Lights Off</button>
    </form>
  </div>
</body>
</html>
