<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hello</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Node-a-Light</h1>
    <br>

    <form action="/on">
      <button class="on btn btn-default" >Turn Lights On</button>
    </form>

    <br>

    <form action="/off">
      <button class="off btn btn-default">Turn Lights Off</button>
    </form>
  </div>
</body>
</html>
